### Loading the dataset

In [1]:
import json

In [2]:
d = open ('tweets.json', "r")

In [3]:
data = json.loads(d.read())

### As we can see each tweet consist the unique tweet ID in form of (Keys) so it does'nt make any sense to take them into action

In [4]:
tweets_list =  []

In [5]:
for key,value in data.items() :
    tweets_list.append(value)

### we're only considering the values for the further processing

In [6]:
tweets_list[:10]

[{'tweet_author': 'Hematopoiesis News',
  'tweet_text': '‚öïÔ∏è Scientists conducted a Phase II study of acalabrutinib in patients with relapsed/refractory #CLL who were ibrutinib-intolerant, and found an overall response rate of 73%. \nhttps://t.co/eJ6m4QpC5P https://t.co/kuZz6ZO47r'},
 {'tweet_author': 'Michael Wang, MD',
  'tweet_text': 'This phase 2 Acalabrutinib-Venetoclax (AV) trial that is still in recruitment phase will study how well venetoclax and acalabrutinib works in MCL patients who either relapsed or non-respondent to the initial therapy.\n\nhttps://t.co/gg0G9At23N'},
 {'tweet_author': '1stOncology',
  'tweet_text': '#NICE backs #AstraZenecas #Calquence for #CLL https://t.co/Vb5lPDoGrA'},
 {'tweet_author': 'Toby Eyre',
  'tweet_text': '#acalabrutinib is a valuable option in pts intolerant to #ibrutinib. Further valuable data to help decision making in #CLL \n\nEarly View | Haematologica https://t.co/Z2kCLZaX0D'},
 {'tweet_author': 'Lymphoma Hub',
  'tweet_text': 'NICE has recommended the use of acalabrutinib for patients with treatment-na√Øve chronic lymphocytic leukemia. Find out more here https://t.co/6OuJptLCIN #lymsm #lymphoma'},
 {'tweet_author': 'David Ledger',
  'tweet_text': 'NICE backs AstraZeneca‚Äôs Calquence for CLL https://t.co/JOPNLNID5R https://t.co/9pwY4NKP4s'},
 {'tweet_author': 'N Wales Cancer Forum',
  'tweet_text': 'This is England for now - these decisions usually come to Wales too. \nMore info\n\n https://t.co/SR5TU0ZSHH https://t.co/OFdwEdlav6'},
 {'tweet_author': 'European Pharmaceutical Review',
  'tweet_text': 'AstraZeneca‚Äôs Calquence (acalabrutinib), a chemotherapy-free monotherapy, will be offered to patients with chronic lymphocytic #leukaemia.\n#oncology #drugapprovals #pharma #healthnews\nFind out more here: https://t.co/qYUft2Cn8b https://t.co/Sxve6NGGX3'},
 {'tweet_author': 'Graham Collins',
  'tweet_text': 'Superstar @tobyeyre82 responding to the excellent news of NICE approval of acalabrutinib in frontline CLL for FCR / BR unsuitable patients. https://t.co/lACvpOtrWx'},
 {'tweet_author': 'CLL Ireland',
  'tweet_text': 'CLL patients all know the drug Ibrutinib and yesterday in the UK Acalabrutinib was approved and now a new drug Pirtobrutinib is making a big impact for relapsed patients in recent #clinicaltrials\n@cancertrials_ie @CllSociety @LAL_NI @BloodCancerIRL\nhttps://t.co/murr3KPhsZ'}]

### Importing required libraries

In [110]:
import numpy as np
import pandas as pd
import itertools
import collections

import warnings
warnings.filterwarnings("ignore")

### converting those tweet values to Dataframe

In [111]:
df = pd.DataFrame(tweets_list)

In [121]:
df

             tweet_author                                         tweet_text
0      Hematopoiesis News  scientists conducted a phase ii study of acala...
1        Michael Wang, MD  this phase acalabrutinib venetoclax av trial t...
2             1stOncology  nice backs astrazenecas calquence for cll http...
3               Toby Eyre  acalabrutinib is a valuable option in pts into...
4            Lymphoma Hub  nice has recommended the use of acalabrutinib ...
...                   ...                                                ...
43342  Joy is a Lifestyle  hanging out with friends ff cll happiness http...
43343       ùìíùìªùì≤ùîÉùîÉùîÇ ùìüùìÆùìªùìªùîÇüåπ  hanging out with friends ff cll happiness http...
43344               IQWiG  zusatznutzen von idelalisib ist weder f r cll ...
43345           Medibooks  hematolog a ptk expression and immunochemother...
43346           Medibooks  hematolog a mutations in tlr myd pathway ident...

[43347 rows x 2 columns]

### importing NLTK toolkit

In [11]:
import nltk
from nltk.corpus import stopwords
import re
import tweepy as tw
import networkx
from nltk.tokenize import word_tokenize
from spacy.lang.en.stop_words import STOP_WORDS
from itertools import filterfalse
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import string
from string import punctuation

### As we can clearly see the tweet text consists the HTML tags , punctuations and non alphabetic characters Hyperlinks as well as Emojis 
### Functions to clean all of the above

In [112]:
def cleanHtml(sentence):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(sentence))
    return cleantext

In [113]:
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned

In [114]:
def keepAlpha(sentence):
    alpha_sent = ""
    for word in sentence.split():
        alpha_word = re.sub('[^a-z A-Z]+', ' ', word)
        alpha_sent += alpha_word
        alpha_sent += " "
    alpha_sent = alpha_sent.strip()
    return alpha_sent

In [115]:
def remove_url(txt):
    return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())

In [116]:
df['tweet_text'] = df['tweet_text'].apply(cleanHtml)
df['tweet_text'] = df['tweet_text'].apply(cleanPunc)
df['tweet_text'] = df['tweet_text'].apply(keepAlpha)
df['tweet_text'] = df['tweet_text'].apply(remove_url)
df['tweet_text'] = df['tweet_text'].str.lower()

### tweets after taking out all the Tags, Hyperlinks, punctuations and emojis

In [117]:
df['tweet_text'][0:7]

0    scientists conducted a phase ii study of acala...
1    this phase acalabrutinib venetoclax av trial t...
2    nice backs astrazenecas calquence for cll http...
3    acalabrutinib is a valuable option in pts into...
4    nice has recommended the use of acalabrutinib ...
5    nice backs astrazeneca s calquence for cll htt...
6    this is england for now these decisions usuall...
Name: tweet_text, dtype: object

### removing commonly used words and normalising tweets for better evuluation

In [118]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
punctuation = punctuation + '\n' + '‚Äî' + '‚Äú' + ',' + '‚Äù' + '‚Äò' + '-' + '‚Äô'

In [19]:
df['tweet_text'] = df['tweet_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [20]:
def normalize_tokens(list_of_tokens):
    return map(lambda x: x.lower(),list_of_tokens)

def contractions_expansion(list_of_tokens):
    return map(contracted_word_expansion,list_of_tokens)

In [21]:
df['tweet_text'] = df['tweet_text'].apply(lambda x: word_tokenize(x))
df['tweet_text'] = df['tweet_text'].apply(lambda x: normalize_tokens(x))

### universal regular expression for removal of special and unneccessary blocks

In [22]:
regex = r'^@[a-zA-z0-9]|^#[a-zA-Z0-9]|\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*|\W+|\d+|<("[^"]*"|\'[^\']*\'|[^\'">])*>|_+|[^\u0000-\u007f]+'

In [23]:
def waste_word_or_not(token):
    return re.search(regex,token)

def filter_waste_words(list_of_tokens):
    return filterfalse(waste_word_or_not,list_of_tokens)

def split(list_of_tokens):
    return map(lambda x: re.split(regex,x)[0],list_of_tokens)

In [24]:
df['tweet_text'] = df['tweet_text'].apply(lambda x: filter_waste_words(x))
df['tweet_text'] = df['tweet_text'].apply(lambda x: list(x))

In [25]:
df['tweet_text'][:7]

0    [scientists, conducted, phase, ii, study, acal...
1    [phase, acalabrutinib, venetoclax, av, trial, ...
2    [nice, backs, astrazenecas, calquence, cll, ht...
3    [acalabrutinib, valuable, option, pts, intoler...
4    [nice, recommended, use, acalabrutinib, patien...
5    [nice, backs, astrazeneca, calquence, cll, htt...
6    [england, decisions, usually, come, wales, inf...
Name: tweet_text, dtype: object

### Taking out the repetition of same words from the tweets

In [26]:
en_stop_words = list(set(stopwords.words('english')).union(set(STOP_WORDS)))

In [27]:
def is_stopword(token):
    return not(token in en_stop_words or re.search(r'\b\w\b|[^\u0000-\u007f]+|_+|\W+',token))

def stopwords_removal(list_of_tokens):
    return filter(is_stopword,list_of_tokens)

In [28]:
df['tweet_text'] = df['tweet_text'].apply(lambda x: stopwords_removal(x))
df['tweet_text'] = df['tweet_text'].apply(lambda x: list(x))

### As we can see the tweets are cleaned and in canonical (standard) form

In [29]:
df['tweet_text'][1000:1007]

1000    [myriad, trials, testing, immunomodulating, bl...
1001    [news, chmp, adopts, positive, opinion, acalab...
1002    [according, new, small, study, acalabrutinib, ...
1003    [medscape, hematology, oncology, headlines, gt...
1004    [calquence, recommended, eu, approval, chmp, c...
1005    [study, evaluate, effects, proton, pump, inhib...
1006    [clinicaltrial, study, evaluate, effects, prot...
Name: tweet_text, dtype: object

### converting the tweets list to string as Spacy models only accepts str form

In [30]:
def listtostring(s):

    text = " "
    return (text.join(s))

In [31]:
df['tweet_text'] = df['tweet_text'].apply(listtostring)

In [32]:
df['tweet_text'][1000:1007]

1000    myriad trials testing immunomodulating blood c...
1001    news chmp adopts positive opinion acalabrutini...
1002    according new small study acalabrutinib counte...
1003    medscape hematology oncology headlines gt gt h...
1004    calquence recommended eu approval chmp chronic...
1005    study evaluate effects proton pump inhibitor a...
1006    clinicaltrial study evaluate effects proton pu...
Name: tweet_text, dtype: object

In [33]:
tweet_text = df['tweet_text'][0:7500]
tweet_token = ''
for i in df['tweet_text'][0:7500]:
    tweet_token += str(i)

### Spacy (NER) Name Entity Recognition is probably the first step towards information extraction that seeks to locate and classify named entities in text into pre-defined categories such as the names of persons, organizations, locations, expressions of times, quantities, monetary values, percentages, etc.

In [34]:
import spacy
  
nlp = spacy.load("en_core_web_sm", disable=["tagger", "attribute_ruler", "lemmatizer"])
nlp

### passing the tweet tokens to Spacy model

In [35]:
doc = nlp(tweet_token)

### here we get the token text , starting char , ending char ,  token vector norm and token labels

In [122]:
for token in doc.ents:
    print(token.text,'---',token.start_char,'---',token.end_char,'---',token.vector_norm,'---',token.label_)

yesterday --- 1150 --- 1159 --- 8.693491 --- DATE
march pm --- 1382 --- 1390 --- 4.9024253 --- TIME
today --- 1692 --- 1697 --- 9.043982 --- DATE
thursday --- 1698 --- 1706 --- 8.113397 --- DATE
daily --- 2138 --- 2143 --- 7.513793 --- DATE
today --- 2204 --- 2209 --- 9.387628 --- DATE
thursday --- 2210 --- 2218 --- 8.742422 --- DATE
recent years --- 8039 --- 8051 --- 5.7938538 --- DATE
tuesday --- 11005 --- 11012 --- 7.676716 --- DATE
second --- 13341 --- 13347 --- 6.919266 --- ORDINAL
second --- 15533 --- 15539 --- 6.934958 --- ORDINAL
secondary --- 20236 --- 20245 --- 8.061173 --- ORDINAL
quarter --- 22677 --- 22684 --- 6.790628 --- DATE
sarahcannondocs --- 26229 --- 26244 --- 6.438276 --- DATE
months --- 27867 --- 27873 --- 7.6612477 --- DATE
months --- 28057 --- 28063 --- 6.818067 --- DATE
months --- 29880 --- 29886 --- 7.493107 --- DATE
seven --- 30005 --- 30010 --- 8.608659 --- CARDINAL
today --- 30151 --- 30156 --- 9.211719 --- DATE
night --- 32188 --- 32193 --- 7.8130746 --- TIME
year --- 32924 --- 32928 --- 6.9483137 --- DATE
year --- 33085 --- 33089 --- 6.956581 --- DATE
year --- 33245 --- 33249 --- 6.956581 --- DATE
year --- 33283 --- 33287 --- 6.99462 --- DATE
year --- 33865 --- 33869 --- 6.956581 --- DATE
year --- 34025 --- 34029 --- 6.9483137 --- DATE
year --- 34201 --- 34205 --- 6.717116 --- DATE
year --- 34290 --- 34294 --- 6.9483137 --- DATE
monday --- 35846 --- 35852 --- 7.1515493 --- DATE
year --- 39266 --- 39270 --- 6.9436965 --- DATE
years --- 40202 --- 40207 --- 7.842133 --- DATE
years --- 41289 --- 41294 --- 7.6672535 --- DATE
years --- 41810 --- 41815 --- 7.842133 --- DATE
years --- 42325 --- 42330 --- 7.842133 --- DATE
years --- 42472 --- 42477 --- 7.842133 --- DATE
years --- 42616 --- 42621 --- 7.842133 --- DATE
today --- 43312 --- 43317 --- 8.9787035 --- DATE
years --- 45122 --- 45127 --- 7.8594904 --- DATE
years --- 47266 --- 47271 --- 7.842133 --- DATE
years --- 48176 --- 48181 --- 7.842133 --- DATE
years --- 48285 --- 48290 --- 7.842133 --- DATE
years --- 48575 --- 48580 --- 7.842133 --- DATE
years --- 48698 --- 48703 --- 7.842133 --- DATE
years --- 49008 --- 49013 --- 7.842133 --- DATE
years --- 49135 --- 49140 --- 7.842133 --- DATE
years --- 49258 --- 49263 --- 7.842133 --- DATE
years --- 49381 --- 49386 --- 7.842133 --- DATE
years --- 49508 --- 49513 --- 7.842133 --- DATE
years --- 49615 --- 49620 --- 7.842133 --- DATE
years --- 49937 --- 49942 --- 7.842133 --- DATE
years --- 50063 --- 50068 --- 7.842133 --- DATE
year --- 50302 --- 50306 --- 6.7430406 --- DATE
year --- 50502 --- 50506 --- 7.4274206 --- DATE
year --- 52798 --- 52802 --- 6.954842 --- DATE
year --- 52904 --- 52908 --- 6.930614 --- DATE
year --- 53157 --- 53161 --- 6.8622923 --- DATE
year --- 53704 --- 53708 --- 6.8622923 --- DATE
night --- 56468 --- 56473 --- 7.831072 --- TIME
year --- 57125 --- 57129 --- 6.969222 --- DATE
year --- 57218 --- 57222 --- 6.969222 --- DATE
year --- 57311 --- 57315 --- 6.969222 --- DATE
year --- 57404 --- 57408 --- 6.940222 --- DATE
night --- 58271 --- 58276 --- 7.8360887 --- TIME
night --- 59477 --- 59482 --- 7.8288217 --- TIME
night --- 59647 --- 59652 --- 7.8409157 --- TIME
night --- 66318 --- 66323 --- 7.822969 --- TIME
november pm --- 68595 --- 68606 --- 6.1290817 --- TIME
night --- 71765 --- 71770 --- 7.833675 --- TIME
fdhqnumcqa --- 71882 --- 71892 --- 6.823606 --- DATE
night --- 72202 --- 72207 --- 7.842596 --- TIME
night --- 74292 --- 74297 --- 7.828841 --- TIME
november pm --- 75656 --- 75667 --- 5.1061053 --- TIME
endpointastrazenecas --- 80692 --- 80712 --- 7.1157837 --- CARDINAL
today --- 80839 --- 80844 --- 7.8244147 --- DATE
thursday --- 88532 --- 88540 --- 7.84333 --- DATE
mm --- 92484 --- 92486 --- 6.911059 --- PERSON
month --- 92794 --- 92799 --- 7.0449314 --- DATE
american --- 95661 --- 95669 --- 7.622741 --- NORP
india --- 102312 --- 102317 --- 7.091611 --- GPE
india --- 102335 --- 102340 --- 7.068435 --- GPE
india --- 102690 --- 102695 --- 7.1931334 --- GPE
india --- 103052 --- 103057 --- 6.958228 --- GPE
india --- 103075 --- 103080 --- 7.068435 --- GPE
india --- 103278 --- 103283 --- 7.0528283 --- GPE
india --- 103301 --- 103306 --- 7.068435 --- GPE
india --- 103367 --- 103372 --- 6.9404655 --- GPE
india --- 103390 --- 103395 --- 7.068435 --- GPE
friday --- 103482 --- 103488 --- 8.501103 --- DATE
india --- 103946 --- 103951 --- 7.1270714 --- GPE
india --- 104111 --- 104116 --- 7.982282 --- GPE
october --- 104474 --- 104481 --- 6.7729864 --- DATE
october --- 104599 --- 104606 --- 6.8212633 --- DATE
morning exclusive morning --- 104631 --- 104656 --- 5.2928934 --- TIME
october --- 104722 --- 104729 --- 7.366648 --- DATE
india --- 104797 --- 104802 --- 6.5579066 --- GPE
india --- 104861 --- 104866 --- 7.339409 --- GPE
india --- 104893 --- 104898 --- 6.81481 --- GPE
october --- 104934 --- 104941 --- 7.013874 --- DATE
india --- 105028 --- 105033 --- 7.5336065 --- GPE
october kpmg --- 105501 --- 105513 --- 6.4997134 --- DATE
october --- 105538 --- 105545 --- 6.7654114 --- DATE
india --- 105729 --- 105734 --- 7.242218 --- GPE
india --- 105773 --- 105778 --- 6.9086 --- GPE
october --- 105802 --- 105809 --- 6.585693 --- DATE
india --- 106026 --- 106031 --- 7.3267546 --- GPE
india --- 106098 --- 106103 --- 7.066212 --- GPE
india --- 106479 --- 106484 --- 7.183071 --- GPE
weeks --- 109599 --- 109604 --- 7.067769 --- DATE
september --- 121383 --- 121392 --- 7.538333 --- DATE
second --- 122067 --- 122073 --- 7.8315525 --- ORDINAL
month --- 128154 --- 128159 --- 7.629376 --- DATE
half billion dollars --- 128168 --- 128188 --- 5.278952 --- MONEY
zenecas --- 138027 --- 138034 --- 6.8581815 --- GPE
sarahcannondocs --- 142338 --- 142353 --- 6.4527607 --- DATE
mavtwbj --- 144305 --- 144312 --- 7.6012974 --- DATE
oh seyzyucprice month --- 144570 --- 144591 --- 5.392752 --- DATE
india --- 144634 --- 144639 --- 7.3496995 --- GPE
daily --- 146692 --- 146697 --- 7.548252 --- DATE
sll quarter --- 147645 --- 147656 --- 6.2471404 --- DATE
american --- 150677 --- 150685 --- 7.7577543 --- NORP
american --- 150887 --- 150895 --- 7.7577543 --- NORP
american --- 151328 --- 151336 --- 7.7312436 --- NORP
months --- 156924 --- 156930 --- 7.321539 --- DATE
months --- 158428 --- 158434 --- 7.0189133 --- DATE
years --- 159483 --- 159488 --- 7.7402186 --- DATE
week --- 163306 --- 163310 --- 6.758233 --- DATE
week --- 166802 --- 166806 --- 7.390677 --- DATE
days --- 168128 --- 168132 --- 7.715404 --- DATE
month --- 174257 --- 174262 --- 6.8638983 --- DATE
minutes weeks --- 179703 --- 179716 --- 7.096199 --- DATE
today --- 179924 --- 179929 --- 9.5654 --- DATE
dxtznlcxmuhealthday --- 180501 --- 180520 --- 8.102225 --- DATE
months --- 180922 --- 180928 --- 6.83716 --- DATE
years --- 181123 --- 181128 --- 6.4998407 --- DATE
india --- 184116 --- 184121 --- 7.3332253 --- GPE
severos --- 184799 --- 184806 --- 6.5315022 --- CARDINAL
severos --- 204321 --- 204328 --- 6.3520393 --- CARDINAL
today --- 209940 --- 209945 --- 7.614734 --- DATE
republican --- 211377 --- 211387 --- 7.215842 --- NORP
days --- 211570 --- 211574 --- 7.4064956 --- DATE
today --- 215333 --- 215338 --- 7.4424343 --- DATE
qdjtzoogw --- 220664 --- 220673 --- 6.982556 --- DATE
severos --- 221064 --- 221071 --- 6.726617 --- CARDINAL
day --- 221625 --- 221628 --- 7.1685505 --- DATE
days --- 223700 --- 223704 --- 7.2123075 --- DATE
daily --- 224420 --- 224425 --- 7.3778577 --- DATE
al --- 224642 --- 224644 --- 7.526192 --- PERSON
de la --- 225602 --- 225607 --- 5.957851 --- PERSON
de la --- 225988 --- 225993 --- 6.601573 --- PERSON
zenecas --- 230982 --- 230989 --- 7.307233 --- ORG
friday --- 235024 --- 235030 --- 7.372695 --- DATE
second --- 236481 --- 236487 --- 7.4433155 --- ORDINAL
explique --- 247911 --- 247919 --- 6.589146 --- CARDINAL
zero --- 249930 --- 249934 --- 8.032497 --- CARDINAL
years --- 259203 --- 259208 --- 7.2666445 --- DATE
week --- 260272 --- 260276 --- 7.1095624 --- DATE
american --- 266134 --- 266142 --- 7.676312 --- NORP
april --- 266536 --- 266541 --- 7.2620273 --- DATE
daily --- 266983 --- 266988 --- 7.5823054 --- DATE
today --- 267790 --- 267795 --- 9.087568 --- DATE
de --- 269399 --- 269401 --- 8.169043 --- PERSON
xham --- 270515 --- 270519 --- 8.055778 --- DATE
tuesday --- 273409 --- 273416 --- 8.571325 --- DATE
tuesday --- 274844 --- 274851 --- 7.2206573 --- DATE
british --- 274852 --- 274859 --- 7.910155 --- NORP
tomorrow --- 276025 --- 276033 --- 9.059057 --- DATE
zenecas --- 276980 --- 276987 --- 6.3172026 --- GPE
half --- 280063 --- 280067 --- 8.076383 --- CARDINAL
india --- 282018 --- 282023 --- 7.0551095 --- GPE
early days --- 287546 --- 287556 --- 5.36822 --- DATE
zenecas --- 289241 --- 289248 --- 7.0017896 --- GPE
coming days --- 290081 --- 290092 --- 6.0409584 --- DATE
xylwmsj --- 290848 --- 290855 --- 7.069057 --- GPE
year --- 293890 --- 293894 --- 7.8258715 --- DATE
american --- 298659 --- 298667 --- 7.7062974 --- NORP
american --- 298851 --- 298859 --- 7.6011257 --- NORP
american --- 299177 --- 299185 --- 7.676312 --- NORP
half --- 300815 --- 300819 --- 8.080872 --- CARDINAL
secondary --- 301003 --- 301012 --- 8.135565 --- ORDINAL
american --- 302673 --- 302681 --- 7.7577543 --- NORP
month --- 302776 --- 302781 --- 7.163135 --- DATE
india --- 304334 --- 304339 --- 6.610917 --- GPE
india --- 304502 --- 304507 --- 7.131503 --- GPE
india --- 304533 --- 304538 --- 7.3270693 --- GPE
india --- 306094 --- 306099 --- 7.4156322 --- GPE
india --- 306338 --- 306343 --- 7.653145 --- GPE
yesterday --- 306637 --- 306646 --- 9.192868 --- DATE
yesterday --- 309503 --- 309512 --- 9.1173725 --- DATE
second --- 310522 --- 310528 --- 7.17905 --- ORDINAL
years --- 317207 --- 317212 --- 6.476488 --- DATE
months --- 317272 --- 317278 --- 7.377413 --- DATE
american --- 318114 --- 318122 --- 7.662875 --- NORP
today --- 318328 --- 318333 --- 8.511904 --- DATE
months --- 320439 --- 320445 --- 7.293932 --- DATE
annual --- 325956 --- 325962 --- 8.105125 --- DATE
month --- 338396 --- 338401 --- 6.551537 --- DATE
months --- 341918 --- 341924 --- 7.3811235 --- DATE
month --- 342480 --- 342485 --- 7.0977764 --- DATE
months --- 343256 --- 343262 --- 7.116751 --- DATE
monthly --- 343769 --- 343776 --- 7.914201 --- DATE
months --- 345935 --- 345941 --- 7.235014 --- DATE
months --- 348081 --- 348087 --- 6.7866087 --- DATE
weeks ago --- 349844 --- 349853 --- 5.918373 --- DATE
months --- 351471 --- 351477 --- 8.183948 --- DATE
highlights day --- 352271 --- 352285 --- 5.8949366 --- DATE
daily --- 352916 --- 352921 --- 7.8907056 --- DATE
month --- 354650 --- 354655 --- 6.471174 --- DATE
morning --- 356681 --- 356688 --- 7.5046196 --- TIME
million --- 359918 --- 359925 --- 7.2133865 --- CARDINAL
bbpmzcicdq --- 361073 --- 361083 --- 7.59652 --- CARDINAL
thursday --- 362353 --- 362361 --- 7.6101985 --- DATE
november --- 362362 --- 362370 --- 7.2359776 --- DATE
news week --- 362851 --- 362860 --- 6.301926 --- DATE
second --- 363045 --- 363051 --- 7.375994 --- ORDINAL
second --- 371155 --- 371161 --- 6.977234 --- ORDINAL
second --- 374781 --- 374787 --- 7.271385 --- ORDINAL
today --- 376098 --- 376103 --- 9.264402 --- DATE
november --- 377669 --- 377677 --- 6.7365355 --- DATE
india --- 377706 --- 377711 --- 7.1438537 --- GPE
zydus --- 377841 --- 377846 --- 7.5446506 --- CARDINAL
months --- 377928 --- 377934 --- 7.19436 --- DATE
esnyesterday --- 378344 --- 378356 --- 6.600595 --- DATE
second --- 378369 --- 378375 --- 7.2689915 --- ORDINAL
second --- 378949 --- 378955 --- 7.4318256 --- ORDINAL
second --- 379298 --- 379304 --- 7.2161746 --- ORDINAL
today --- 379344 --- 379349 --- 8.572172 --- DATE
thursday --- 380743 --- 380751 --- 7.6101985 --- DATE
november --- 380752 --- 380760 --- 7.2359776 --- DATE
zrxkox --- 381479 --- 381485 --- 6.6571183 --- DATE
november --- 381915 --- 381923 --- 6.528875 --- DATE
second --- 386272 --- 386278 --- 7.308494 --- ORDINAL
annual --- 392590 --- 392596 --- 7.805245 --- DATE
annual --- 392720 --- 392726 --- 7.873024 --- DATE
annual --- 392995 --- 393001 --- 8.075107 --- DATE
annual --- 393646 --- 393652 --- 7.9250116 --- DATE
azn busy year --- 393812 --- 393825 --- 4.9396753 --- DATE
weeks ago --- 396631 --- 396640 --- 5.90754 --- DATE
al morning --- 396690 --- 396700 --- 5.667586 --- TIME
year --- 396859 --- 396863 --- 6.967808 --- DATE
decade --- 397089 --- 397095 --- 7.278409 --- DATE
today --- 400886 --- 400891 --- 8.139022 --- DATE
second --- 401632 --- 401638 --- 7.6537104 --- ORDINAL
second --- 402091 --- 402097 --- 7.6537104 --- ORDINAL
today --- 403889 --- 403894 --- 7.496722 --- DATE
second --- 405356 --- 405362 --- 6.974322 --- ORDINAL
today --- 411759 --- 411764 --- 8.411685 --- DATE
today --- 412537 --- 412542 --- 8.772399 --- DATE
al zanubrutinib --- 416844 --- 416859 --- 5.5293374 --- PERSON
ehacongress month --- 418080 --- 418097 --- 6.0264025 --- DATE
second --- 422862 --- 422868 --- 7.0811186 --- ORDINAL
second --- 425570 --- 425576 --- 7.0811186 --- ORDINAL
seven --- 431056 --- 431061 --- 8.524345 --- CARDINAL
month --- 435447 --- 435452 --- 7.400283 --- DATE
today --- 436834 --- 436839 --- 9.106119 --- DATE
years --- 437609 --- 437614 --- 6.516393 --- DATE
tomorrow --- 438694 --- 438702 --- 8.816525 --- DATE
prior treatment month --- 439915 --- 439936 --- 5.5162024 --- DATE
month --- 439990 --- 439995 --- 7.356104 --- DATE
annual --- 440014 --- 440020 --- 8.302759 --- DATE
second --- 441002 --- 441008 --- 7.840018 --- ORDINAL
second --- 442411 --- 442417 --- 7.8215938 --- ORDINAL
second --- 443217 --- 443223 --- 7.8525095 --- ORDINAL
second --- 444689 --- 444695 --- 7.8215938 --- ORDINAL
second --- 445238 --- 445244 --- 7.840018 --- ORDINAL
second --- 445297 --- 445303 --- 7.4330482 --- ORDINAL
second --- 448680 --- 448686 --- 6.7801795 --- ORDINAL
year --- 450594 --- 450598 --- 6.9473233 --- DATE
second --- 451722 --- 451728 --- 6.8861275 --- ORDINAL
years --- 453224 --- 453229 --- 6.516393 --- DATE
fortyseven --- 457854 --- 457864 --- 6.6069393 --- CARDINAL
chinese --- 466574 --- 466581 --- 7.8644166 --- NORP
today --- 468681 --- 468686 --- 8.53831 --- DATE
annual --- 474679 --- 474685 --- 8.100518 --- DATE
year --- 482548 --- 482552 --- 7.544341 --- DATE
years --- 482688 --- 482693 --- 8.145484 --- DATE
annual --- 483107 --- 483113 --- 7.981578 --- DATE
november years later --- 483487 --- 483507 --- 5.2937183 --- DATE
second --- 483522 --- 483528 --- 7.6940565 --- ORDINAL
october --- 483554 --- 483561 --- 7.3196 --- DATE
today --- 484868 --- 484873 --- 7.9490914 --- DATE
today --- 486907 --- 486912 --- 8.86837 --- DATE
months --- 487913 --- 487919 --- 6.952891 --- DATE
annual --- 488743 --- 488749 --- 8.514376 --- DATE
years --- 491137 --- 491142 --- 6.587302 --- DATE
receipt month --- 491234 --- 491247 --- 5.8321214 --- DATE
multibillion --- 491686 --- 491698 --- 6.9928365 --- CARDINAL
tonight --- 498250 --- 498257 --- 8.884265 --- TIME
weekly --- 501738 --- 501744 --- 7.6322193 --- DATE
tonight --- 501803 --- 501810 --- 9.097598 --- TIME
months --- 503447 --- 503453 --- 8.409716 --- DATE
today --- 505479 --- 505484 --- 9.896457 --- DATE
weekly --- 512530 --- 512536 --- 6.818949 --- DATE
weeks --- 539449 --- 539454 --- 7.4388094 --- DATE
friday --- 540761 --- 540767 --- 7.1578927 --- DATE
fourth quarter billion --- 540795 --- 540817 --- 5.008669 --- DATE
friday --- 540983 --- 540989 --- 7.1578927 --- DATE
fourth quarter billion --- 541017 --- 541039 --- 5.008669 --- DATE
friday --- 541213 --- 541219 --- 7.1578927 --- DATE
fourth quarter billion --- 541247 --- 541269 --- 5.008669 --- DATE
second --- 549919 --- 549925 --- 6.966827 --- ORDINAL
second --- 550120 --- 550126 --- 6.8221903 --- ORDINAL
sunday --- 550521 --- 550527 --- 6.860229 --- DATE
weeks --- 553186 --- 553191 --- 7.5778284 --- DATE
today --- 553283 --- 553288 --- 8.749431 --- DATE
today --- 556780 --- 556785 --- 8.593896 --- DATE
today --- 557028 --- 557033 --- 8.4492655 --- DATE
today --- 557778 --- 557783 --- 9.189157 --- DATE
today --- 558764 --- 558769 --- 7.684472 --- DATE
mmwgvytyatoday --- 561757 --- 561771 --- 8.386596 --- DATE
today --- 562187 --- 562192 --- 7.4770093 --- DATE
today --- 562563 --- 562568 --- 7.3376503 --- DATE
zero --- 564780 --- 564784 --- 7.960899 --- CARDINAL
second --- 564899 --- 564905 --- 6.823263 --- ORDINAL
american --- 565571 --- 565579 --- 7.586451 --- NORP
annual --- 565599 --- 565605 --- 8.527949 --- DATE
american --- 565784 --- 565792 --- 7.586451 --- NORP
annual --- 565812 --- 565818 --- 8.527949 --- DATE
american --- 566003 --- 566011 --- 7.586451 --- NORP
annual --- 566031 --- 566037 --- 8.527949 --- DATE
tuesday --- 572328 --- 572335 --- 7.7211375 --- DATE
october --- 572336 --- 572343 --- 7.438858 --- DATE
mm --- 576926 --- 576928 --- 6.445686 --- PERSON
months --- 579390 --- 579396 --- 7.8728485 --- DATE
tuesday --- 580996 --- 581003 --- 8.18689 --- DATE
healthday --- 590765 --- 590774 --- 7.052969 --- DATE
second --- 593955 --- 593961 --- 7.3739557 --- ORDINAL
tuesday --- 599579 --- 599586 --- 7.001075 --- DATE
healthday --- 599591 --- 599600 --- 6.973771 --- DATE
tuesday --- 599776 --- 599783 --- 7.7211375 --- DATE
october --- 599784 --- 599791 --- 7.44078 --- DATE
monthly --- 604495 --- 604502 --- 7.614885 --- DATE
london --- 608122 --- 608128 --- 7.2772665 --- GPE
today --- 609643 --- 609648 --- 8.962061 --- DATE
months --- 612514 --- 612520 --- 7.008898 --- DATE
months --- 612547 --- 612553 --- 7.856443 --- DATE
second --- 624147 --- 624153 --- 7.1374974 --- ORDINAL
hdzmzearlier week --- 624881 --- 624898 --- 5.8957896 --- DATE
second --- 633199 --- 633205 --- 7.6547604 --- ORDINAL
jqmlb sdaryesterday --- 633636 --- 633655 --- 5.934938 --- DATE
zenecas --- 634990 --- 634997 --- 7.0127606 --- GPE
days --- 637609 --- 637613 --- 7.5060954 --- DATE
dxcmrtxuyesterday --- 640753 --- 640770 --- 8.05723 --- DATE
today --- 640826 --- 640831 --- 8.065113 --- DATE
zenecas --- 641200 --- 641207 --- 6.2840104 --- GPE
second --- 642001 --- 642007 --- 7.2357273 --- ORDINAL
days --- 642033 --- 642037 --- 7.280011 --- DATE
japanese --- 643187 --- 643195 --- 7.8905196 --- NORP
final week june --- 643270 --- 643285 --- 5.1408563 --- DATE
second --- 661731 --- 661737 --- 7.724959 --- ORDINAL
india --- 668713 --- 668718 --- 7.494985 --- GPE
india --- 668923 --- 668928 --- 7.0812783 --- GPE
second --- 674413 --- 674419 --- 6.713247 --- ORDINAL
second --- 676871 --- 676877 --- 7.2352943 --- ORDINAL
second --- 680516 --- 680522 --- 7.134907 --- ORDINAL
nearly billion --- 680693 --- 680707 --- 6.464534 --- CARDINAL
today --- 682794 --- 682799 --- 8.723373 --- DATE
monday --- 683787 --- 683793 --- 7.364286 --- DATE
today --- 685911 --- 685916 --- 8.424976 --- DATE
night --- 690116 --- 690121 --- 7.875315 --- TIME
year old --- 690741 --- 690749 --- 5.5601006 --- DATE
tomorrow --- 690844 --- 690852 --- 8.866886 --- DATE
weeks --- 691175 --- 691180 --- 6.6437826 --- DATE
today --- 692646 --- 692651 --- 8.149741 --- DATE
weeks ago --- 695487 --- 695496 --- 6.0493174 --- DATE
monday --- 695502 --- 695508 --- 7.708438 --- DATE
years year --- 696898 --- 696908 --- 6.200856 --- DATE
friday --- 697529 --- 697535 --- 6.762643 --- DATE
zzhelping --- 697732 --- 697741 --- 7.6060658 --- TIME
fourth --- 697791 --- 697797 --- 7.6405716 --- ORDINAL
tuesday --- 700200 --- 700207 --- 7.3928013 --- DATE
tuesday --- 701470 --- 701477 --- 7.9429903 --- DATE
recent years --- 701648 --- 701660 --- 5.426493 --- DATE
today --- 702110 --- 702115 --- 9.081027 --- DATE
today --- 702998 --- 703003 --- 8.499185 --- DATE
jab weeks ago --- 703719 --- 703732 --- 5.427389 --- DATE
zenecas --- 703795 --- 703802 --- 6.524508 --- GPE
saturday --- 703912 --- 703920 --- 7.2966385 --- DATE
hour --- 704030 --- 704034 --- 7.4810877 --- TIME
mm --- 705958 --- 705960 --- 6.649119 --- PERSON
year old --- 709039 --- 709047 --- 5.5601006 --- DATE
year --- 712626 --- 712630 --- 6.6909227 --- DATE
year --- 714027 --- 714031 --- 7.312204 --- DATE
al --- 714778 --- 714780 --- 7.1894584 --- PERSON
today --- 716452 --- 716457 --- 7.958967 --- DATE

###  counting word frequency of each entities

In [94]:
tup = str(doc.ents)

In [97]:
wordlist = tup.split()

In [99]:
wordfreq = []
for w in wordlist:
    wordfreq.append(wordlist.count(w))

In [137]:
print("Words--Frequency\n" + str(list(zip(wordlist, wordfreq))))

Words--Frequency
[('(yesterday,', 1), ('march', 1), ('pm,', 11), ('today,', 63), ('thursday,', 8), ('daily,', 5), ('today,', 63), ('thursday,', 8), ('recent', 3), ('years,', 36), ('tuesday,', 10), ('second,', 47), ('second,', 47), ('secondary,', 5), ('quarter,', 2), ('sarahcannondocs,', 2), ('months,', 21), ('months,', 21), ('months,', 21), ('seven,', 2), ('today,', 63), ('night,', 12), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('monday,', 9), ('year,', 37), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('today,', 63), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('years,', 36), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('night,', 12), ('year,', 37), ('year,', 37), ('year,', 37), ('year,', 37), ('night,', 12), ('night,', 12), ('night,', 12), ('night,', 12), ('november', 3), ('pm,', 11), ('night,', 12), ('fdhqnumcqa,', 1), ('night,', 12), ('night,', 12), ('november', 3), ('pm,', 11), ('endpointastrazenecas,', 1), ('today,', 63), ('thursday,', 8), ('mm,', 5), ('month,', 15), ('american,', 19), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('friday,', 10), ('india,', 32), ('india,', 32), ('october,', 9), ('october,', 9), ('morning', 1), ('exclusive', 1), ('morning,', 5), ('october,', 9), ('india,', 32), ('india,', 32), ('india,', 32), ('october,', 9), ('india,', 32), ('october', 1), ('kpmg,', 1), ('october,', 9), ('india,', 32), ('india,', 32), ('october,', 9), ('india,', 32), ('india,', 32), ('india,', 32), ('weeks,', 5), ('september,', 3), ('second,', 47), ('month,', 15), ('half', 1), ('billion', 1), ('dollars,', 1), ('zenecas,', 7), ('sarahcannondocs,', 2), ('mavtwbj,', 1), ('oh', 1), ('seyzyucprice', 1), ('month,', 15), ('india,', 32), ('daily,', 5), ('sll', 1), ('quarter,', 2), ('american,', 19), ('american,', 19), ('american,', 19), ('months,', 21), ('months,', 21), ('years,', 36), ('week,', 10), ('week,', 10), ('days,', 10), ('month,', 15), ('minutes', 1), ('weeks,', 5), ('today,', 63), ('dxtznlcxmuhealthday,', 1), ('months,', 21), ('years,', 36), ('india,', 32), ('severos,', 3), ('severos,', 3), ('today,', 63), ('republican,', 1), ('days,', 10), ('today,', 63), ('qdjtzoogw,', 1), ('severos,', 3), ('day,', 2), ('days,', 10), ('daily,', 5), ('al,', 3), ('de', 2), ('la,', 2), ('de', 2), ('la,', 2), ('zenecas,', 7), ('friday,', 10), ('second,', 47), ('explique,', 1), ('zero,', 2), ('years,', 36), ('week,', 10), ('american,', 19), ('april,', 2), ('daily,', 5), ('today,', 63), ('de,', 1), ('xham,', 1), ('tuesday,', 10), ('tuesday,', 10), ('british,', 2), ('tomorrow,', 6), ('zenecas,', 7), ('half,', 2), ('india,', 32), ('early', 1), ('days,', 10), ('zenecas,', 7), ('coming', 1), ('days,', 10), ('xylwmsj,', 1), ('year,', 37), ('american,', 19), ('american,', 19), ('american,', 19), ('half,', 2), ('secondary,', 5), ('american,', 19), ('month,', 15), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('india,', 32), ('yesterday,', 2), ('yesterday,', 2), ('second,', 47), ('years,', 36), ('months,', 21), ('american,', 19), ('today,', 63), ('months,', 21), ('annual,', 16), ('month,', 15), ('months,', 21), ('month,', 15), ('months,', 21), ('monthly,', 3), ('months,', 21), ('months,', 21), ('weeks', 4), ('ago,', 6), ('months,', 21), ('highlights', 1), ('day,', 2), ('daily,', 5), ('month,', 15), ('morning,', 5), ('million,', 6), ('bbpmzcicdq,', 1), ('thursday,', 8), ('november,', 4), ('news', 1), ('week,', 10), ('second,', 47), ('second,', 47), ('second,', 47), ('today,', 63), ('november,', 4), ('india,', 32), ('zydus,', 1), ('months,', 21), ('esnyesterday,', 1), ('second,', 47), ('second,', 47), ('second,', 47), ('today,', 63), ('thursday,', 8), ('november,', 4), ('zrxkox,', 1), ('november,', 4), ('second,', 47), ('annual,', 16), ('annual,', 16), ('annual,', 16), ('annual,', 16), ('azn', 1), ('busy', 1), ('year,', 37), ('weeks', 4), ('ago,', 6), ('al', 2), ('morning,', 5), ('year,', 37), ('decade,', 1), ('today,', 63), ('second,', 47), ('second,', 47), ('today,', 63), ('second,', 47), ('today,', 63), ('today,', 63), ('al', 2), ('zanubrutinib,', 1), ('ehacongress', 1), ('month,', 15), ('second,', 47), ('second,', 47), ('seven,', 2), ('month,', 15), ('today,', 63), ('years,', 36), ('tomorrow,', 6), ('prior', 1), ('treatment', 1), ('month,', 15), ('month,', 15), ('annual,', 16), ('second,', 47), ('second,', 47), ('second,', 47), ('second,', 47), ('second,', 47), ('second,', 47), ('second,', 47), ('year,', 37), ('second,', 47), ('years,', 36), ('fortyseven,', 1), ('chinese,', 1), ('today,', 63), ('annual,', 16), ('year,', 37), ('years,', 36), ('annual,', 16), ('november', 3), ('years', 3), ('later,', 1), ('second,', 47), ('october,', 9), ('today,', 63), ('today,', 63), ('months,', 21), ('annual,', 16), ('years,', 36), ('receipt', 1), ('month,', 15), ('multibillion,', 1), ('tonight,', 3), ('weekly,', 2), ('tonight,', 3), ('months,', 21), ('today,', 63), ('weekly,', 2), ('weeks,', 5), ('friday,', 10), ('fourth', 3), ('quarter', 3), ('billion,', 6), ('friday,', 10), ('fourth', 3), ('quarter', 3), ('billion,', 6), ('friday,', 10), ('fourth', 3), ('quarter', 3), ('billion,', 6), ('second,', 47), ('second,', 47), ('sunday,', 1), ('weeks,', 5), ('today,', 63), ('today,', 63), ('today,', 63), ('today,', 63), ('today,', 63), ('mmwgvytyatoday,', 1), ('today,', 63), ('today,', 63), ('zero,', 2), ('second,', 47), ('american,', 19), ('annual,', 16), ('american,', 19), ('annual,', 16), ('american,', 19), ('annual,', 16), ('tuesday,', 10), ('october,', 9), ('mm,', 5), ('months,', 21), ('tuesday,', 10), ('healthday,', 2), ('second,', 47), ('tuesday,', 10), ('healthday,', 2), ('tuesday,', 10), ('october,', 9), ('monthly,', 3), ('london,', 1), ('today,', 63), ('months,', 21), ('months,', 21), ('second,', 47), ('hdzmzearlier', 1), ('week,', 10), ('second,', 47), ('jqmlb', 1), ('sdaryesterday,', 1), ('zenecas,', 7), ('days,', 10), ('dxcmrtxuyesterday,', 1), ('today,', 63), ('zenecas,', 7), ('second,', 47), ('days,', 10), ('japanese,', 1), ('final', 1), ('week', 1), ('june,', 1), ('second,', 47), ('india,', 32), ('india,', 32), ('second,', 47), ('second,', 47), ('second,', 47), ('nearly', 1), ('billion,', 6), ('today,', 63), ('monday,', 9), ('today,', 63), ('night,', 12), ('year', 4), ('old,', 3), ('tomorrow,', 6), ('weeks,', 5), ('today,', 63), ('weeks', 4), ('ago,', 6), ('monday,', 9), ('years', 3), ('year,', 37), ('friday,', 10), ('zzhelping,', 1), ('fourth,', 1), ('tuesday,', 10), ('tuesday,', 10), ('recent', 3), ('years,', 36), ('today,', 63), ('today,', 63), ('jab', 1), ('weeks', 4), ('ago,', 6), ('zenecas,', 7), ('saturday,', 2), ('hour,', 2), ('mm,', 5), ('year', 4), ('old,', 3), ('year,', 37), ('year,', 37), ('al,', 3), ('today,', 63), ('today,', 63), ('today,', 63), ('days,', 10), ('second,', 47), ('second,', 47), ('second,', 47), ('second,', 47), ('annual,', 16), ('morning,', 5), ('summer,', 1), ('month,', 15), ('year,', 37), ('morning,', 5), ('second,', 47), ('today,', 63), ('year,', 37), ('thursday,', 8), ('million,', 6), ('week,', 10), ('friday,', 10), ('today,', 63), ('years,', 36), ('eric,', 2), ('today,', 63), ('british,', 2), ('india,', 32), ('secondary,', 5), ('eric,', 2), ('winter,', 3), ('tomorrow,', 6), ('year,', 37), ('months', 1), ('ago,', 6), ('lymphomaday,', 1), ('hematologytoday,', 1), ('big', 1), ('month,', 15), ('wrote', 1), ('months,', 21), ('today,', 63), ('tonight,', 3), ('evening,', 1), ('april,', 2), ('today,', 63), ('tomorrow,', 6), ('today,', 63), ('thursday,', 8), ('nkx,', 2), ('nkx,', 2), ('million,', 6), ('days,', 10), ('year,', 37), ('week,', 10), ('friday,', 10), ('week,', 10), ('hourly,', 1), ('friday,', 10), ('second,', 47), ('thursday,', 8), ('tomorrow,', 6), ('today,', 63), ('february', 6), ('pm,', 11), ('secondary,', 5), ('secondary,', 5), ('tuesday,', 10), ('monday,', 9), ('february', 6), ('pm,', 11), ('mm,', 5), ('today,', 63), ('night,', 12), ('saturday,', 2), ('today,', 63), ('afternoon,', 2), ('year', 4), ('winter,', 3), ('friday,', 10), ('years,', 36), ('week,', 10), ('today,', 63), ('monday,', 9), ('february', 6), ('pm,', 11), ('today,', 63), ('nightly,', 1), ('annual,', 16), ('sharon,', 1), ('second,', 47), ('second,', 47), ('monday,', 9), ('february', 6), ('pm,', 11), ('today,', 63), ('years,', 36), ('recent', 3), ('billion,', 6), ('year,', 37), ('today,', 63), ('monday,', 9), ('february', 6), ('pm,', 11), ('today,', 63), ('qnjwxtoday,', 1), ('eietvoxqibtoday,', 1), ('sytoday,', 1), ('bloodcancertoday,', 1), ('monday,', 9), ('february', 6), ('pm,', 11), ('millions,', 2), ('millions,', 2), ('today,', 63), ('today,', 63), ('today,', 63), ('today,', 63), ('covidvaccination', 1), ('week,', 10), ('today,', 63), ('second,', 47), ('republicday,', 2), ('republicday,', 2), ('years,', 36), ('january', 1), ('pm,', 11), ('year,', 37), ('tonight', 1), ('pm,', 11), ('year,', 37), ('million,', 6), ('today,', 63), ('million,', 6), ('million,', 6), ('today,', 63), ('afternoon,', 2), ('american,', 19), ('american,', 19), ('today,', 63), ('american,', 19), ('american,', 19), ('hours,', 1), ('night,', 12), ('zoster,', 1), ('al,', 3), ('american,', 19), ('today,', 63), ('annually,', 1), ('second,', 47), ('year,', 37), ('september,', 3), ('monthly,', 3), ('billion,', 6), ('days,', 10), ('year,', 37), ('annual,', 16), ('today,', 63), ('mm,', 5), ('annual,', 16), ('zy', 1), ('hour,', 2), ('months,', 21), ('year', 4), ('old,', 3), ('year,', 37), ('years,', 36), ('september,', 3), ('monday,', 9), ('winter,', 3), ('years,', 36), ('years', 3), ('ago,', 6), ('today,', 63), ('american,', 19), ('year)', 1)]

In [135]:
submission = pd.DataFrame()
submission['entity'] = wordlist
submission['frequency'] = wordfreq
submission.to_csv('objective1.csv', index=False)

In [132]:
submission

          entity  frequency
0    (yesterday,          1
1          march          1
2            pm,         11
3         today,         63
4      thursday,          8
..           ...        ...
602        years          3
603         ago,          6
604       today,         63
605    american,         19
606        year)          1

[607 rows x 2 columns]

### TextBlob performs different operations on textual data such as noun phrase extraction, sentiment analysis, classification, translation, etc

In [140]:
from textblob import TextBlob

In [141]:
def sentiment(x):
    sentiment = TextBlob(x)
    return sentiment.sentiment.polarity

### The sentiment function of textblob returns two properties, polarity, and subjectivity

In [146]:
df['sentiment'] = df['tweet_author'].apply(sentiment)

In [172]:
total_polarity = df['sentiment']

In [204]:
len(total_polarity)

43347

In [199]:
overall_polarity = []
for i in total_polarity:
    if i > 0:
        overall_polarity.append("positive")
    elif i < 0:
        overall_polarity.append('negative')
    else:
        overall_polarity.append("Neutral")

In [205]:
len(overall_polarity)

43347

In [206]:
submission1 = pd.DataFrame()
submission1['author_name'] = df['tweet_author']
submission1['overall_polarity'] = overall_polarity
submission1.to_csv('objective2.csv', index=False)

###  sentiment/polarity of each author

In [208]:
submission1

              author_name overall_polarity
0      Hematopoiesis News          Neutral
1        Michael Wang, MD          Neutral
2             1stOncology          Neutral
3               Toby Eyre          Neutral
4            Lymphoma Hub          Neutral
...                   ...              ...
43342  Joy is a Lifestyle         positive
43343       ùìíùìªùì≤ùîÉùîÉùîÇ ùìüùìÆùìªùìªùîÇüåπ          Neutral
43344               IQWiG          Neutral
43345           Medibooks          Neutral
43346           Medibooks          Neutral

[43347 rows x 2 columns]